@page
@model BuildProjectSummer2024.Pages.Player.EditModel
@{
}

<h2>@(Model.Player.Id == 0 ? "Add Player" : "Edit Player")</h2>

<form method="post">

    <input type="hidden" asp-for="Player.Id" />
    <div class="form-group">
        <label asp-for="Player.FirstName"></label>
        <input asp-for="Player.FirstName" class="form-control" />
        <span asp-validation-for="Player.FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Player.LastName"></label>
        <input asp-for="Player.LastName" class="form-control" />
        <span asp-validation-for="Player.LastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Player.Id"></label>
        <input asp-for="Player.Id" class="form-control" />
        <span asp-validation-for="Player.Country" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Player.Dob"></label>
        <input asp-for="Player.Dob" class="form-control" type="date" />
        <span asp-validation-for="Player.Dob" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Player.Gender"></label>
        <input asp-for="Player.Gender" class="form-control" />
        <span asp-validation-for="Player.Gender" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Player.Country"></label>
        <input asp-for="Player.Country" class="form-control" />
        <span asp-validation-for="Player.Country" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Player.TeamId"></label>
        <select asp-for="Player.TeamId" class="form-control" asp-items="Model.Teams"></select>
        <span asp-validation-for="Player.TeamId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Player.RoleId"></label>
        <select asp-for="Player.RoleId" class="form-control" asp-items="Model.Roles"></select>
        <span asp-validation-for="Player.RoleId" class="text-danger"></span>
    </div>
    </br>
    <button type="submit" class="btn btn-primary">Save</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}